social-network
    src
        main
            java
                com.highload.architect.soc.network
                    api
                        LoginApiImpl.java
                        UserApiImpl.java
                    config
                        OpenApiConfig.java
                    mapper
                    service
                        UserService.java
                        UserServiceImpl.java
                    SocialNetworkApplication.java
            resources
                application.properties
                openapi.json
    pom.xml